#blinkText {
    color: #2d38be;
    transition: 0.5s;
}

body{
    background-color:black;
    color:cornflowerblue;
}

.button{
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: blue;
}